#header-pt {
    font-size: 11px;
}
#pict {
    width: 90px;
    height: 90px;
}
#p1 {
    text-transform: uppercase;
    font-size: 10px;
}
#p2 {
    margin-left:3px;
}
#table-header {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 30px;
    margin-right: 16px;
}
#alamat_{
    position: absolute;
    top: -20px;
    right: 0;
    font-size: 12px;
    margin-top: 30px;
    margin-right: 18%;
    /* margin-bottom:  */
}
td, th {
    font-size: 10px;
}
li {
    font-size: 10px;
}
#table-avg {
    position: absolute;
    /* top: 0; */
    right: 0;
    margin-right: 10px;
}
#kotak {
    position: absolute;
    /* top: 0; */
    right: 0;
    margin-left: 55%;
    margin-top: 10%;
    margin-right: 10px;;
}
#persegikecil {
    width:255px; 
    height:20px;
    background-color: white;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    border-right: solid black 1px;
    border-left: solid black 1px;
}

#persegi {
    width:255px; 
    height:40px;
    background-color: white;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    border-right: solid black 1px;
    border-left: solid black 1px;
    
    
}
#table-freq {
    margin-left: 40px;
}




